body {
  background: white;
}

body.darkMode {
  background-color: #121212;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#spinner {
  height: 100vh;
  width: 100vw;
  background-color: #90e0ef;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}

header {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: white;
}
header .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}
header .container {
  width: 90%;
  margin: 0 auto;
}
header .logo {
  position: relative;
  color: #59D2FE;
}
header .logo a {
  position: relative;
  top: 25px;
  transition: 0.3s;
}
header .logo a:hover {
  color: #73FBD3;
}
header .home {
  position: absolute;
  top: 0;
  left: 300px;
}
header .home a {
  color: #59D2FE;
  position: relative;
  top: 30px;
  transition: 0.3s;
}
header .home a:hover {
  color: #73FBD3;
}
header .home .fa-home:before {
  position: relative;
  left: 7px;
}
header .admin {
  position: absolute;
  top: 0;
  left: 400px;
}
header .admin a {
  color: #59D2FE;
  position: relative;
  top: 30px;
  transition: 0.3s;
}
header .admin a:hover {
  color: #73FBD3;
}
header .admin .fa-user-gear:before {
  position: relative;
  left: 32px;
}
header .nav .fa-shopping-cart {
  color: #59D2FE;
}
header .nav .fa-shopping-cart:hover {
  color: #73FBD3;
}

.banner {
  background: linear-gradient(to left, #8942a8, #ba382f);
}
.banner .container {
  width: 90%;
  margin: 90px auto 50px;
}
.banner .container .card {
  background: #000;
  overflow: hidden;
  height: 272px;
  width: 200px;
  position: relative;
  border-radius: 20px;
  transition: 0.5s;
}
.banner .container .card:hover {
  height: 420px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 30px;
}
.banner .container .card .location {
  color: #73FBD3;
}
.banner .container .card .card-header i {
  font-size: 1.5rem;
  color: #ffffff;
}
.banner .container .card .card-header .stocks {
  font-size: 0.8rem;
  color: #90ee90;
  font-style: italic;
}
.banner .container .card .card-body img {
  width: 100%;
  height: 150px;
  align-self: center;
}
.banner .container .card .card-footer {
  background-color: #2e2f33;
  height: 220px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  bottom: -165px;
  transition: 0.25s;
}
.banner .container .card .card-footer .name-fav {
  position: relative;
  bottom: 10px;
}
.banner .container .card .card-footer .name-fav .product-name {
  color: #ffffff;
}
.banner .container .card .card-footer .name-fav .heart {
  color: #ffffff;
}
.banner .container .card .card-footer .wrapper h5 {
  font-weight: bold;
  font-size: 0.83em;
  color: #73FBD3;
}
.banner .container .card .card-footer .wrapper p {
  color: #dad7cd;
  font-size: 0.75em;
}
.banner .container .card .card-footer .purchase {
  color: #ffffff;
}
.banner .container .card .card-footer .purchase .btn-add {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  padding: 6px 10px;
}

.filter {
  overflow: hidden;
  position: relative;
}
.filter .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}
.filter .form-select {
  top: 50px;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

footer {
  overflow: hidden;
  position: relative;
}
footer .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}
footer .footer-top span {
  color: #59D2FE;
}
footer .footer-top span:hover {
  color: #ff99c8;
}
footer .footer-top .fab {
  color: #59D2FE;
}
footer .footer-top .fab:hover {
  color: #ff99c8;
}
footer .footer-middle .fa-solid {
  color: #59D2FE;
}
footer .footer-middle .fa-solid:hover {
  color: #ff99c8;
}
footer .footer-middle p {
  color: #59D2FE;
}
footer .footer-middle p:hover {
  color: #ff99c8;
}
footer .footer-middle h6 {
  color: #59D2FE;
}
footer .footer-middle h6:hover {
  color: #ff99c8;
}
footer .copyright {
  color: #59D2FE;
}
footer .copyright:hover {
  color: #ff99c8;
}

.sidebarMini.is-opened {
  transform: translateX(60%);
}

.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  transform: translateX(100%);
  background-color: #59D2FE;
  transition: 0.5s;
  border-left: 1px solid #59D2FE;
  color: #ffffff;
}
.sidebarMini .sidebarMini__button {
  background: #59D2FE;
  padding: 5px 20px;
  border: 1px solid #59D2FE;
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  color: #ffffff;
}
.sidebarMini .sidebarMini__content {
  width: 170px;
  padding: 20px;
  text-align: center;
}
.sidebarMini .sidebarMini__content .switch {
  height: 25px;
  width: 50px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
}
.sidebarMini .sidebarMini__content .switch input:checked {
  position: relative;
  right: 10px;
}
.sidebarMini .sidebarMini__content .switch input:checked, .sidebarMini .sidebarMini__content .switch .slider::before {
  transform: translateX(22px);
}
.sidebarMini .sidebarMini__content .switch .slider {
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73FBD3;
  transition: 0.4s;
}
.sidebarMini .sidebarMini__content .switch .slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: 0.5s;
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
.hero .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}
.hero .cart #content {
  position: absolute;
  transform: translateX(200%);
  background: #010101;
  opacity: 0.9;
  height: 100%;
  width: 56%;
  flex-direction: column;
  top: 0;
  z-index: 10;
}
.hero .cart #content .fa-times-circle {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 1.5rem;
}
.hero .cart #content h2 {
  position: relative;
  color: white;
  left: 400px;
  transform: translateY(-0.2rem);
  font-size: 2.5rem;
  font-weight: 600;
}
.hero .cart #content .cart-items {
  border-bottom: 1px solid whitesmoke;
  position: relative;
  bottom: 70px;
}
.hero .cart #content .cart-items .thProduct span {
  font-size: 1.75rem;
  color: #90ee90;
}
.hero .cart #content .cart-items .empty-cart {
  font-size: 1.5rem;
  color: #414141;
  position: relative;
  left: 15px;
}
.hero .cart #content .cart-items .empty-cart .sPcom {
  position: relative;
  right: 30px;
}
.hero .cart #content .cart-items .empty-cart .sPcom2 {
  position: relative;
  left: 15px;
}
.hero .cart #content .cart-items .empty-cart .sPcom3 {
  position: relative;
  left: 42px;
}
.hero .cart #content .final {
  font-size: 1.5rem;
  color: #414141;
  position: relative;
  left: 150px;
}
.hero .cart #content .final strong {
  position: relative;
  left: 230px;
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */