.container {
  width: 90%;
  margin: 0 auto;
}

#spinner {
  height: 100vh;
  width: 100vw;
  background-color: #90e0ef;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}
/* MODAL ORDER */
.modals {
  width: 400px;
  width: 400px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 6px;
  transform: translate(-50%, -50%) scale(0,1);
  background: #edf6f9;
  height: auto;
  padding: 30px;
  text-align: center;
  visibility: hidden;
  transition: 0.3s;
}
.modals .fa-check {
  font-size: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: green;
  line-height: 100px;
}
.modals .btnOK {
  padding: 9px 137px;
  font-size: 20px;
}
.modals .congra {
  font-size: 26px;
}
.modals .order {
  font-size: 20px;
}
.modals .receive {
  font-size: 17px;
}
#modal.open-modal {
  visibility: visible;
  top: 30%;
  transform: translate(-50%, -50%) scale(1);
}
/* MODAL PRODUCT */
.modal {
  width: 400px;
  width: 400px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 6px;
  transform: translate(-50%, 10%);
  background: #edf6f9;
  height: auto;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

/* HEADER */
header {
  position: initial;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  background: var(--secondary-color) !important;
}
header .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}
header .container {
  width: 90%;
  margin: 0 auto;
}
header .logo {
  position: relative;
  color: var(---third-color);
}
header .logo a {
  position: relative;
  top: 25px;
  transition: 0.3s;
}
header .logo a:hover {
  color: #73FBD3;
  text-decoration: none;
}
header .home {
  position: absolute;
  top: 0;
  left: 300px;
}
header .home a {
  color: var(---third-color);
  position: relative;
  top: 30px;
  transition: 0.3s;
}
header .home a:hover {
  color: #73FBD3;
  text-decoration: none;
}
header .home .fa-home:before {
  position: relative;
  left: 7px;
}
header .admin {
  position: absolute;
  top: 0;
  left: 400px;
}
header .admin a {
  color: var(---third-color);
  position: relative;
  top: 30px;
  transition: 0.3s;
}
header .admin a:hover {
  color: #73FBD3;
  text-decoration: none;
}
header .admin .fa-user-gear:before {
  position: relative;
  left: 32px;
}
header #searchSP {
  left: 520px;
  max-width: 40%;
  max-height: 50%;
  position: absolute;
  top: 20px;
}
header #btnSearchSP {
  top: 21px;
  position: absolute;
  left: 1128px;
  padding: 10px;
}
header #theme {
  left: 200px;
  top: 15px;
  position: relative;
  height: 50px;
  cursor: pointer;
}
header .nav .fa-shopping-cart {
  color: var(---third-color);
}
header .nav .fa-shopping-cart:hover {
  color: #73FBD3;
}
header .nav .totalQuantity {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  background: #ffb703;
  text-align: center;
  position: relative;
  top: 8px;
}
.header-title{
  padding-left: 100px;
  font-size: 20px;
  font-weight: bold;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  ---third-color: #59D2FE;
  ---four-color: linear-gradient(to left, #08203e, #2f3e46);
}

.darkTheme {
  --primary-color: #000106;
  --secondary-color: #f2f4f3;
  ---third-color: #370617;
  ---four-color: linear-gradient(to left, #8942a8, #ba382f);
}

.cybercarousel {
  overflow: hidden;
  position: relative;
  background: var(--secondary-color);
}
.cybercarousel .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}

.owl-carousel {
  position: relative;
  top: 10px;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  bottom: 250px;
  font-size: 70px;
  left: 10px;
  color: #59D2FE;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 250px;
  font-size: 70px;
  right: 10px;
  color: #59D2FE;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: #73FBD3;
}

.owl-theme .owl-dots .owl-dot {
  display: none;
}

.banner {
  background: var(---four-color);
}
.banner .container {
  width: 90%;
  margin: 90px auto 50px;
}
.banner .container .card {
  background: #000;
  overflow: hidden;
  height: 330px;
  width: 255px;
  position: relative;
  border-radius: 20px;
  transition: 0.5s;
}
.banner .container .card:hover {
  height: 450px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 30px;
}
.banner .container .card .location {
  color: #73FBD3;
  font-size: 20px;
}
.banner .container .card .card-header i {
  font-size: 28px;
  color: #ffffff;
}
.banner .container .card .card-header .stocks {
  font-size: 0.8rem;
  color: #90ee90;
  font-style: italic;
  font-size: 1.1rem;
}
.banner .container .card .card-body img {
  width: 100%;
  height: 200px;
  align-self: center;
}
.banner .container .card .card-footer {
  background-color: #2e2f33;
  height: 220px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  bottom: -165px;
  transition: 0.25s;
}
.banner .container .card .card-footer .name-fav {
  position: relative;
  bottom: 10px;
}
.banner .container .card .card-footer .name-fav .product-name {
  color: #ffffff;
  font-size: 18px;
}
.banner .container .card .card-footer .name-fav .heart {
  color: #ffffff;
}
.banner .container .card .card-footer .purchase .priceDola {
  position: relative;
  left: 12px;
}
.banner .container .card .card-footer .wrapper h5 {
  font-weight: bold;
  font-size: 0.83em;
  color: #73FBD3;
}
.banner .container .card .card-footer .wrapper p {
  color: #dad7cd;
  font-size: 0.75em;
}
.banner .container .card .card-footer .purchase {
  color: #ffffff;
}
.banner .container .card .card-footer .purchase .btn-add {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  padding: 6px 10px;
}

.notFound {
  margin-left: 350px;
  border: 3px dashed #ffd60a;
  color: #ffd60a;
  width: 50%;
  text-align: center;
}
.notFound span {
  background-color: #ffd166;
  font-size: 30px;
  text-align: center;
  position: relative;
  padding: 0px 197px;
}

.filter .form-select {
  bottom: 30px;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

footer {
  overflow: hidden;
  position: relative;
  background: var(--secondary-color);
}
footer .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}
footer .footer-top span {
  color: var(---third-color);
}
footer .footer-top span:hover {
  color: #ff99c8;
}
footer .footer-top .fab {
  color: var(---third-color);
}
footer .footer-top .fab:hover {
  color: #ff99c8;
}
footer .footer-middle .fa-solid {
  color: var(---third-color);
}
footer .footer-middle .fa-solid:hover {
  color: #ff99c8;
}
footer .footer-middle p {
  color: var(---third-color);
}
footer .footer-middle p:hover {
  color: #ff99c8;
}
footer .footer-middle h6 {
  color: var(---third-color);
}
footer .footer-middle h6:hover {
  color: #ff99c8;
}
footer .copyright {
  color: var(---third-color);
}
footer .copyright:hover {
  color: #ff99c8;
}

.cartDiv {
  position: relative;
  right: 32px;
}

.name {
  width: 124px;
}

.units {
  position: relative;
  right: 32px;
}
.units .minus, .units .plus {
  background-color: #52b69a;
  width: 38px;
  height: 30px;
  border-radius: 50%;
  line-height: 15px;
  display: inline-block;
  text-align: center;
  font-size: 27px;
}
.units .minus:hover, .units .plus:hover {
  background-color: #fee440;
}

.cart {
  position: relative;
  overflow: hidden;
}
.cart #content {
  position: fixed;
  transform: translateX(170%);
  background: #010101;
  opacity: 0.9;
  height: 152vh;
  width: 60%;
  flex-direction: column;
  top: 80px;
  z-index: 10;
}
.cart #content .final .subtotal {
  padding-left: 200px;
  position: relative;
  right: 380px;
  top: 100px;
  line-height: 56px;
  background: #fefae0;
  display: block;
  width: 100vw;
  height: 60px;
}
.cart #content .final .action {
  position: relative;
  right: 150px;
  background: #87c38f;
  top: 110px;
}
.cart #content .final .action .buy {
  font-size: 30px;
  position: relative;
  left: 130px;
}
.cart #content .final .action .buy:hover {
  color: #605DCA;
}
.cart #content .final .action .clear {
  font-size: 30px;
  position: relative;
  left: 270px;
}
.cart #content .final .action .clear:hover {
  color: #AC302E;
}
.cart #content .fa-times-circle {
  position: absolute;
  top: 20px;
  right: 58px;
  font-size: 2rem;
}
.cart #content .fa-times-circle:hover {
  color: #ba382f;
}
.cart #content .fa-shopping-bag {
  color: #0a9396;
  left: 350px;
  font-size: 40px;
  position: absolute;
  top: 45px;
}
.cart #content h2 {
  position: relative;
  color: white;
  left: 400px;
  transform: translateY(-0.2rem);
  font-size: 40px;
  font-weight: 600;
  top: 20px;
}
.cart #content .cart-items {
  border-bottom: 1px solid whitesmoke;
  position: relative;
  top: 40px;
}
.cart #content .cart-items .thProduct span {
  font-size: 1.75rem;
  color: #90ee90;
}
.cart #content .cart-items .empty-cart {
  font-size: 1.5rem;
  color: #414141;
  position: relative;
  left: 15px;
}
.cart #content .cart-items .empty-cart .sPcom {
  position: relative;
  right: 10px;
}
.cart #content .cart-items .empty-cart .sPcom2 {
  position: relative;
  left: 5px;
}
.cart #content .cart-items .empty-cart .sPcom3, .cart #content .cart-items .empty-cart .sPcom4 {
  position: relative;
  left: 45px;
}
.cart #content .final {
  font-size: 1.5rem;
  color: #414141;
  position: relative;
  left: 150px;
}
.cart #content .final strong {
  position: relative;
  left: 230px;
  font-size: 2rem;
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
.hero .cover {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 145%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 9;
}

@media screen and (max-width: 1248px) {
  header #btnSearchSP {
    left: 1020px;
  }
  header #theme {
    left: 226px;
  }
  header .nav {
    position: relative;
    left: 105px;
  }
}
@media screen and (max-width: 1230px) {
  header #btnSearchSP {
    left: 1000px;
  }
}
@media screen and (max-width: 1200px) {
  header .nav {
    left: 84px;
  }
  .cart #content {
    transform: translateX(68%);
  }
}
@media screen and (max-width: 1184px) {
  header #btnSearchSP {
    left: 974px;
  }
  header #searchSP {
    max-width: 38%;
  }
  .cart #content {
    transform: translateX(68%);
  }
}
@media screen and (max-width: 1138px) {
  header #btnSearchSP {
    left: 950px;
  }
  .cart #content {
    transform: translateX(68%);
  }
  .cart #content .cart-items .thProduct span {
    margin-left: 25px;
  }
  .units .minus, .units .plus {
    width: 28px;
    height: 28px;
    line-height: 12px;
  }
}
@media screen and (max-width: 1105px) {
  header #btnSearchSP {
    left: 939px;
  }
  .cart #content .cart-items .thProduct span {
    margin-left: 19px;
  }
  .cart #content .final .action .clear {
    left: 203px;
  }
}
@media screen and (max-width: 1084px) {
  header #btnSearchSP {
    left: 895px;
  }
  header #searchSP {
    max-width: 35%;
  }
  .units {
    right: 22px;
  }
  .units .minus, .units .plus {
    width: 20px;
    height: 23px;
    border-radius: 50%;
    line-height: 6px;
  }
}
@media screen and (max-width: 1070px) {
  header #btnSearchSP {
    left: 877px;
  }
  header #searchSP {
    max-width: 34%;
  }
  .units {
    width: 26%;
  }
}
@media screen and (max-width: 1046px) {
  .cart #content .cart-items .thProduct span {
    font-size: 1.75rem;
    color: #90ee90;
    margin-left: 11px;
  }
  .cart #content .final .subtotal {
    padding-left: 139px;
  }
}
@media screen and (max-width: 1020px) {
  header #btnSearchSP {
    left: 826px;
  }
  header #searchSP {
    max-width: 30%;
  }
  header .nav {
    left: 130px;
  }
}
@media screen and (max-width: 1020px) {
  header #btnSearchSP {
    left: 760px;
  }
  header #searchSP {
    max-width: 30%;
    left: 470px;
  }
  header .nav {
    left: 130px;
  }
  header .admin {
    position: absolute;
    top: 0;
    left: 360px;
  }
  header #theme {
    left: 177px;
  }
}
@media screen and (max-width: 1020px) {
  header .nav {
    left: 114px;
  }
  .cart #content .final .action .clear {
    left: 151px;
  }
  .cart #content .fa-shopping-bag {
    left: 238px;
  }
  .cart #content h2 {
    left: 285px;
  }
}
@media screen and (max-width: 938px) {
  .cart #content .final .subtotal {
    padding-left: 91px;
  }
  .cart #content .cart-items .thProduct span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 920px) {
  header .home {
    left: 265px;
  }
  header .admin {
    left: 317px;
  }
  header .nav {
    left: 68px;
  }
  header #searchSP {
    left: 418px;
  }
  header #btnSearchSP {
    left: 694px;
  }
  header #theme {
    left: 130px;
  }
  .cart #content .final .action .clear {
    left: 121px;
  }
}
@media screen and (max-width: 888px) {
  header .home {
    left: 250px;
  }
  header .admin {
    left: 304px;
  }
  header #btnSearchSP {
    left: 684px;
  }
  header .nav {
    left: 61px;
  }
}
@media screen and (max-width: 878px) {
  header .logo {
    right: 28px;
  }
  header .admin {
    left: 274px;
  }
  header #searchSP {
    left: 376px;
  }
  header #btnSearchSP {
    left: 640px;
  }
  header .nav {
    left: 45px;
  }
  header #theme {
    left: 100px;
  }
}
@media screen and (max-width: 870px) {
  header .home {
    left: 217px;
  }
  .cart #content .final .action .buy {
    left: 50px;
  }
  .cart #content .final .action .clear {
    left: 62px;
  }
  .cart #content .final .subtotal {
    padding-left: 49px;
  }
  .cartDiv {
    font-size: 17px;
  }
  .cart #content .cart-items .thProduct span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 846px) {
  header .home {
    left: 200px;
  }
  header .admin {
    left: 255px;
  }
  header #searchSP {
    left: 356px;
  }
  header #btnSearchSP {
    left: 609px;
  }
}
@media screen and (max-width: 800px) {
  header .logo a span, header .home, header .admin, header #searchSP, header #btnSearchSP {
    font-size: 14px !important;
  }
  header .home {
    left: 200px;
  }
  header .admin {
    left: 255px;
  }
  header #searchSP {
    left: 345px;
    width: 27%;
  }
  header #btnSearchSP {
    left: 557px;
  }
  header #theme {
    left: 77px;
  }
  header .nav {
    left: 28px;
  }
  .cart #content {
    width: 70%;
    right: 353px;
  }
}
@media screen and (max-width: 773px) {
  header .home {
    left: 180px;
  }
  header .admin {
    left: 240px;
  }
  header #searchSP {
    left: 323px;
  }
  header #btnSearchSP {
    left: 532px;
  }
  header #theme {
    left: 77px;
  }
  header .nav {
    left: 28px;
  }
}
@media screen and (max-width: 722px) {
  header #btnSearchSP {
    left: 517px;
  }
  header #theme {
    left: 87px;
  }
  .cart #content {
    right: 333px;
  }
}
@media screen and (max-width: 696px) {
  .cart #content {
    width: 74%;
  }
  header .home {
    left: 162px;
  }
  header #searchSP {
    left: 300px;
  }
  header .admin {
    left: 210px;
  }
  header #btnSearchSP {
    left: 488px;
  }
}
@media screen and (max-width: 671px) {
  .cart #content {
    right: 333px;
  }
}
@media screen and (max-width: 651px) {
  .cart #content {
    width: 79%;
  }
  .cart #content .final .subtotal {
    font-size: 24px;
  }
  .cart #content .final .action .clear {
    font-size: 24px;
  }
  .cart #content .final .action .buy {
    font-size: 24px;
  }
  header .logo a {
    display: flex;
    flex-direction: column;
    align-items: self-end;
  }
  header .logo a span {
    margin-top: 12px;
  }
  header .home {
    left: 116px;
  }
  header .admin {
    left: 168px;
  }
  header #searchSP {
    left: 260px;
  }
  header #btnSearchSP {
    left: 436px;
  }
  header #theme {
    left: 73px;
  }
}
@media screen and (max-width: 618px) {
  .cart #content {
    width: 80%;
  }
}
@media screen and (max-width: 618px) {
  header #theme {
    left: 88px;
  }
  header #btnSearchSP {
    left: 427px;
  }
  .cart #content {
    width: 85%;
  }
}
@media screen and (max-width: 580px) {
  .cart #content {
    width: 86%;
  }
  .cart #content .final .subtotal {
    width: 85vw;
  }
  header .home {
    left: 102px;
  }
  header .admin {
    left: 148px;
  }
  header #searchSP {
    left: 238px;
  }
  header #btnSearchSP {
    left: 394px;
  }
}
@media screen and (max-width: 551px) {
  .cart #content {
    width: 94%;
  }
  .cart #content .final .subtotal {
    width: 94vw;
  }
}
@media screen and (max-width: 532px) {
  header #searchSP {
    width: 24%;
  }
  header #btnSearchSP {
    left: 364px;
  }
  .cart #content .fa-shopping-bag {
    left: 155px;
  }
  .cart #content h2 {
    left: 205px;
  }
  .cart #content {
    width: 93%;
  }
  .cart #content .final .subtotal {
    width: 100vw;
  }
}
@media screen and (max-width: 516px) {
  .cart #content {
    width: 100%;
  }
}
@media screen and (max-width: 505px) {
  .cart #content {
    width: 99%;
  }
}
@media screen and (max-width: 495px) {
  header .logo {
    opacity: 0;
  }
  header .home {
    left: 30px;
  }
  header .admin {
    left: 84px;
  }
  header #btnSearchSP {
    left: 310px;
  }
  header #searchSP {
    left: 174px;
  }
  header #btnSearchSP {
    left: 302px;
  }
}
@media screen and (max-width: 484px) {
  .cart #content {
    width: 104%;
  }
  .cart #content .cart-items .empty-cart .sPcom2 {
    left: 23px;
  }
}
@media screen and (max-width: 457px) {
  .cart #content {
    width: 111%;
  }
  .cart #content .final .subtotal {
    width: 110vw;
  }
  .cart #content .cart-items .thProduct span {
    margin-left: 8px;
  }
  .cartDiv {
    position: relative;
    right: 24px;
  }
}/*# sourceMappingURL=index.css.map */