//VARIABLE (NƠI ĐỔI MÃ MÀU).
//HEADER
$color-white1: #59D2FE;
$color-white2: #73FBD3;
$color-icons: #ffffff;
//BANNER
$font-apple: 1.5rem;
$font-stocks: 0.8rem;
$color-stocks: #90ee90;
$width-container: 90%;
$font-h5wrapper: 0.83em;
$bradius-cart: 20px;
$color-pwrapper: #dad7cd;
$background-footer: #2e2f33;

body{
    background: white;
}
body.darkMode {
    background-color: #121212;
}
.container{
    width: 90%;
    margin: 0 auto;
}
//NESTED (LỒNG NHAU).
//SPINNER
#spinner{
    height: 100vh;
    width: 100vw;
    background-color: #90e0ef;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
//HEADER
header{
    position: absolute;
    width: 100%;
    background: white;
    .container{
        width: $width-container;
        margin: 0 auto;
    }
    .logo{
       position: relative;
       color: $color-white1;
       a{
        position: relative;
        top: 25px;
        transition: 0.3s;
        &:hover{
          color: $color-white2;
        }
       }
    }
    .home{
        position: absolute;
        top: 0;
        left: 300px;
        a{
            color: $color-white1;
            position: relative;
            top: 30px;
            transition: 0.3s;
            &:hover{
                color: $color-white2;
            }
        }
        .fa-home:before{
            position: relative;
            left: 7px;
        }
       }
    .admin{
        position: absolute;
        top: 0;
        left: 400px;
        a{
            color: $color-white1;
            position: relative;
            top: 30px;
            transition: 0.3s;
            &:hover{
                color: $color-white2;
            }
        }
        .fa-user-gear:before{
            position: relative;
            left: 32px;
        }
    }
    .nav{
        .fa-shopping-cart{
            color: $color-white1;
            &:hover{
                color: $color-white2;
            }
        }
    }
}
//BANNER
.banner{
    background: linear-gradient(to left, #8942a8, #ba382f);
    .container{
        width: $width-container;
        margin: 90px auto 50px;
        .card{
            background: #000;
            overflow: hidden;
            height: 272px;
            width: 200px;
            position: relative;
            border-radius: $bradius-cart;
            transition: 0.5s;
            &:hover{
                height: 420px;
                width: 260px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                position: relative;
                bottom: 30px;
            }
            .location{
                color: $color-white2;
            }
            .card-header{
                i{
                    font-size: $font-apple;
                    color: $color-icons;
                }
                .stocks{
                    font-size: $font-stocks;
                    color: $color-stocks;
                    font-style: italic;
                }
            }
            .card-body{
                img{
                    width: 100%;
                    height: 150px;
                    align-self: center;
                }
            }
            .card-footer{
                background-color: $background-footer;
                height: 220px;
                width: 100%;
                border-radius: 20px;
                padding: 20px;
                bottom: -165px;
                transition: 0.25s;
                .name-fav{
                    position: relative;
                    bottom: 10px;
                .product-name{
                        color: $color-icons;
                     }
                .heart{
                        color: $color-icons;
                     }
                }
               
               .wrapper{
                //   display: none;
                  h5{
                    font-weight: bold;
                    font-size: $font-h5wrapper;
                    color: $color-white2;
                  }
                  p{
                    color: $color-pwrapper;
                    font-size: 0.75em;
                  }
               }
               .purchase{
                color: $color-icons;
                .btn-add{
                    border-radius: $bradius-cart;
                    border: 1px solid $color-icons;
                    background: none;
                    color: $color-icons;
                    padding: 6px 10px;
                }
               }
            }
        }
    }
}
//FILTER
.filter{
    .form-select {
        top: 50px;
        position: relative;
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
}
//FOOTER
footer{
    .footer-top{
        span{
          color: $color-white1;
          &:hover{
            color: #ff99c8 ;
        }
        }
        .fab{
          color: $color-white1;
          &:hover{
            color: #ff99c8 ;
        }
        }
    }
    .footer-middle{
        .fa-solid{
            color: $color-white1;
            &:hover{
              color: #ff99c8 ;
          } 
        }
        p{
            color: $color-white1;
          &:hover{
            color: #ff99c8 ;
        }
        }
        h6{
            color: $color-white1;
            &:hover{
              color: #ff99c8 ;
          }   
        }

    }
    .copyright{
        color: $color-white1;
          &:hover{
            color: #ff99c8 ;
        }
    }
}


// SIDEBAR MINI.
.sidebarMini.is-opened {
    transform: translateX(60%);
}
.sidebarMini{
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 500;
    width: 400px;
    transform: translateX(100%);
    background-color: $color-white1;
    transition: 0.5s;
    border-left: 1px solid $color-white1;
    color: $color-icons;
    .sidebarMini__button {
        background: $color-white1;
        padding: 5px 20px;
        border: 1px solid $color-white1;
        border-radius: 8px 0 0 8px;
        letter-spacing: 0.015rem;
        position: fixed;
        transform: translateX(-100%);
        transition: .5s;
        color: $color-icons;
    }
    .sidebarMini__content{
        width: 170px;
        padding: 20px;
        text-align: center;
        .switch{
            height: 25px;
            width: 50px;
            margin: 0 10px;
            display: inline-block;
            position: relative;
            input:checked{
                position: relative;
                right: 10px;
            }
            input:checked, .slider::before {
                transform: translateX(22px);
            }
            .slider{
                border-radius: 15px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-white2;
                transition: 0.4s;
                &::before{
                    content: "";
                    width: 18px;
                    height: 18px;
                    background-color: $color-icons;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    transition: 0.5s;
                }
            }        
        }
    }    
}

// CART
// .banner{
//     .hero{
//     overflow: hidden;
//     }
//     .content{
//         position: absolute;
//         transform: translateX(100%) !important;
//     }
// }
.hero{
    overflow: hidden;
    .cover{
        transform: translateX(100%);
        position: absolute;
        width: 100%;
        height: 130%;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(5px);
        z-index: 9;
    }
    #content{
        position: absolute;
        transform: translateX(100%);
        background: #010101;
        opacity: 0.9;
        height: 100%;
        width: 56%;
        flex-direction: column;
        top: 0;
        z-index: 10;
        overflow: hidden;
        .fa-times-circle{
            position: absolute;
            top: 10px;
            right: 30px;
            font-size: 1.5rem;
        }
        h2{
            position: relative;
            color: white;
            left: 400px;
            transform: translateY(-0.2rem);
            font-size: 2rem;
            font-weight: 600;
        }
        .cart-items{
            border-bottom: 1px solid whitesmoke;
            .thProduct{
                span{
                   font-size: 1.75rem;
                   color: $color-stocks;
                }
            }
            .empty-cart{
                font-size: 1.5rem;
                color: #414141;
                position: relative;
                left: 15px;
                .sPcom{
                  position: relative;
                  right: 30px;
                }
                .sPcom2{
                    position: relative;
                    left: 15px;
                }
                .sPcom3{
                    position: relative;
                    left: 42px;
                }
            }
        }
        .final{
            font-size: 1.5rem;
            color: #414141;
            position: relative;
            left: 150px;
        }
    }
    }

