//VARIABLE (NƠI ĐỔI MÃ MÀU).
//HEADER
$color-white1: #59D2FE;
$color-white2: #73FBD3;
$color-icons: #ffffff;
//BANNER
$font-apple: 1.5rem;
$font-stocks: 0.8rem;
$color-stocks: #90ee90;
$width-container: 90%;
$font-h5wrapper: 0.83em;
$bradius-cart: 20px;
$color-pwrapper: #dad7cd;
$background-footer: #2e2f33;

.container{
    width: 90%;
    margin: 0 auto;
}
//NESTED (LỒNG NHAU).
//SPINNER
#spinner{
    height: 100vh;
    width: 100vw;
    background-color: #90e0ef;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
//HEADER
header{
    //Phủ lớp BLUR
    position: relative;
    overflow: hidden;  
    width: 100%;
    background:var(--secondary-color) !important;
    .cover{
    transform: translateX(100%);
    position: absolute;
    width: 100%;
    height: 145%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 9;
    //
}
    .container{
        width: $width-container;
        margin: 0 auto;
    }
    .logo{
       position: relative;
       color: var(---third-color);
       a{
        position: relative;
        top: 25px;
        transition: 0.3s;
        &:hover{
          color: $color-white2;
        }
       }
    }
    .home{
        position: absolute;
        top: 0;
        left: 300px;
        a{
            color: var(---third-color);
            position: relative;
            top: 30px;
            transition: 0.3s;
            &:hover{
                color: $color-white2;
            }
        }
        .fa-home:before{
            position: relative;
            left: 7px;
        }
       }
    .admin{
        position: absolute;
        top: 0;
        left: 400px;
        a{
            color: var(---third-color);
            position: relative;
            top: 30px;
            transition: 0.3s;
            &:hover{
                color: $color-white2;
            }
        }
        .fa-user-gear:before{
            position: relative;
            left: 32px;
        }
    }
    #searchSP{
        left: 520px;
        max-width: 40%;
        max-height: 50%;
        position: absolute;
        top: 20px;
    }
    #btnSearchSP{
        top: 21px;
        position: absolute;
        left: 1128px;
        padding: 10px;
    }
    #theme{
        left: 200px;
        top: 15px;
        position: relative;
        height: 50px;
        cursor: pointer;
    }
    .nav{
        .fa-shopping-cart{
            color: var(---third-color);
            &:hover{
                color: $color-white2;
            }
        }
        .totalQuantity{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            line-height: 20px;
            background: #ffb703;
            text-align: center;
            position: relative;
            top: 8px;
        }
    }
}
//TẠO DARK, LIGHT THEME
:root{ //lúc ban đầu
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    ---third-color : #59D2FE;
    ---four-color: linear-gradient(to left, #08203e, #2f3e46);
} //lúc nhấn nút
.darkTheme{
    --primary-color: #000106;
    --secondary-color: #f2f4f3;
    ---third-color : #370617;
    ---four-color: linear-gradient(to left, #8942a8, #ba382f);
}

//CAROUSEL
.cybercarousel{
    overflow: hidden; 
    position: relative;
    background: var(--secondary-color);
    .cover{
        transform: translateX(100%);
        position: absolute;
        width: 100%;
        height: 145%;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(5px);
        z-index: 9;
    }
}
.owl-carousel{
    position: relative;
    top: 10px;
}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    bottom: 250px;
    font-size: 70px;
    left: 10px;
    color: #59D2FE;   
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    bottom: 250px;
    font-size: 70px;
    right: 10px;   
    color: #59D2FE  ;   
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #73FBD3;
}
.owl-theme .owl-dots .owl-dot{
    display: none;
}

//BANNER
.banner{
    background: var(---four-color);
    .container{
        width: $width-container;
        margin: 90px auto 50px;
        .card{
            background: #000;
            overflow: hidden;
            height: 330px;
            width: 255px;
            position: relative;
            border-radius: $bradius-cart;
            transition: 0.5s;
            &:hover{
                height: 450px;
                width: 260px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                position: relative;
                bottom: 30px;
            }
            .location{
                color: $color-white2;
                font-size: 20px;
            }
            .card-header{
                i{
                    font-size: 28px;
                    color: $color-icons;
                }
                .stocks{
                    font-size: $font-stocks;
                    color: $color-stocks;
                    font-style: italic;
                    font-size: 1.1rem;
                }
            }
            .card-body{
                img{
                    width: 100%;
                    height: 200px;
                    align-self: center;
                }
            }
            .card-footer{
                background-color: $background-footer;
                height: 220px;
                width: 100%;
                border-radius: 20px;
                padding: 20px;
                bottom: -165px;
                transition: 0.25s;
                .name-fav{
                    position: relative;
                    bottom: 10px;
                .product-name{
                        color: $color-icons;
                        font-size: 18px;
                     }
                .heart{
                        color: $color-icons;
                     }
                }
                .purchase{
                    .priceDola{
                      position: relative;
                      left: 12px;
                    }  
                  }
               .wrapper{
                //   display: none;
                  h5{
                    font-weight: bold;
                    font-size: $font-h5wrapper;
                    color: $color-white2;
                  }
                  p{
                    color: $color-pwrapper;
                    font-size: 0.75em;
                  }
               }
               .purchase{
                color: $color-icons;
                .btn-add{
                    border-radius: $bradius-cart;
                    border: 1px solid $color-icons;
                    background: none;
                    color: $color-icons;
                    padding: 6px 10px;
                }
               }
            }
        }
    }
}
//FILTER
.filter{
    .form-select {
        bottom: 30px;
        position: relative;
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
}
//FOOTER
footer{
    overflow: hidden; 
    position: relative;
    background: var(--secondary-color);
    .cover{
        transform: translateX(100%);
        position: absolute;
        width: 100%;
        height: 145%;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(5px);
        z-index: 9;
    }
    .footer-top{
        span{
          color: var(---third-color);
          &:hover{
            color: #ff99c8 ;
        }
        }
        .fab{
          color: var(---third-color);
          &:hover{
            color: #ff99c8 ;
        }
        }
    }
    .footer-middle{
        .fa-solid{
            color: var(---third-color);
            &:hover{
              color: #ff99c8 ;
          } 
        }
        p{
            color: var(---third-color);
          &:hover{
            color: #ff99c8 ;
        }
        }
        h6{
            color: var(---third-color);
            &:hover{
              color: #ff99c8 ;
          }   
        }

    }
    .copyright{
        color: var(---third-color);
          &:hover{
            color: #ff99c8 ;
        }
    }
}
//RENDERCART
.cartDiv{
    position: relative;
    right: 32px;
}
.name{
    width: 124px;
}
.units{
    position: relative;
    right: 32px;
    .minus, .plus{
        background-color: #52b69a;
        width: 38px;
        height: 30px;
        border-radius: 50%;
        line-height: 15px;
        display: inline-block;
        text-align: center;
        font-size: 27px;
        &:hover{
            background-color: #fee440;
        }
    }
}
.cart{
    position: relative;
    overflow: hidden;
    #content{
    position: absolute;
    transform: translateX(170%);
    background: #010101;
    opacity: 0.9;
    height: 152vh;
    width: 59%;
    flex-direction: column;
    top: 0;
    z-index: 10;
    .final{
        .subtotal{
            padding-left: 200px;
            position: relative;
            right: 380px;
            top: 100px;
            line-height: 56px;
            background: #fefae0;
            display: block;
            width: 100vw;
            height: 60px;
        }
        .action{
            position: relative;
            right: 150px;
            background: #87c38f;
            top: 110px;
            .buy{
                font-size: 30px;
                position: relative;
                left: 130px;
                &:hover{
                    color: #605DCA;
                }
            }
            .clear{
                font-size: 30px;
                position: relative;
                left: 270px;
                &:hover{
                    color: #AC302E;
                }
            }
        }
    }
    .fa-times-circle{
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 2rem;
        &:hover{
            color: #ba382f;
        }
    }
    h2{
        position: relative;
        color: white;
        left: 400px;
        transform: translateY(-0.2rem);
        font-size: 40px;
        font-weight: 600;
        top: 20px;
    }
    .cart-items{
        border-bottom: 1px solid whitesmoke;
        position: relative;
        top: 40px;
        .thProduct{
            span{
               font-size: 1.75rem;
               color: $color-stocks;
            }
        }
        .empty-cart{
            font-size: 1.5rem;
            color: #414141;
            position: relative;
            left: 15px;
            .sPcom{
              position: relative;
              right: 10px;
            }
            .sPcom2{
                position: relative;
                left: 5px;
            }
            .sPcom3, .sPcom4{
                position: relative;
                left: 45px;
            }
        }
    }
    .final{
        font-size: 1.5rem;
        color: #414141;
        position: relative;
        left: 150px;
        strong{
            position: relative;
            left: 230px;
            font-size: 2rem;
        }
    }
}
}

// CART
.hero{
    //Phủ lớp Blur
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    .cover{
        transform: translateX(100%);
        position: absolute;
    //
        width: 100%;
        height: 145%;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(5px);
        z-index: 9;
    }
    
}